# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.TopDownShooter.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jealsey\Documents\GitHub\TopDownShooter\.idea\.idea.TopDownShooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
